/*******banner-css*******/
header.navfixedshow {
	z-index: 999;
}
.stz-lightblue-bg {
	background-color: #eafaff;
}
.stz-banner-wrapp {
	background-image: url(../images/stz-banner-wrapp.png);
	background-size: cover;
	padding-top: 56px;
	padding-bottom: 208px;
	background-position: bottom;
}
.stz-section-title-banner h3 {
	text-align: left;
	text-shadow: 0 3px 5px rgba(0,0,0,0.7);
	font-size: 43px;
	padding-left: 40px;
	color: #203864;
}
.stz-section-title-info {
	max-width: 62%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 31px;
}
.stz-section-title-info h5 {
	font-size: 27px;
	font-weight: 600;
}
.stz-row .class-content {
	padding-right: 60px;
}
.stz-row .class-content p {
	line-height: 26px;
	font-size: 16px;
}
.stz-row .robotolight {
	text-align: center;
}
.stz-row h3.heading3 {
	margin-top: 17px;
}
.subject-sec .stz-row .class-row {
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.subject-sec .stz-row .class-row:hover {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
/*******month-selection-css*page******/
.time-table-bg {
	background-image: url(../images/time-table.jpg);
	background-size: cover;
	padding-top: 56px;
	padding-bottom: 208px;
	background-position: top;
}
.time-table-bg h3 {
	color: #fff;
}
.month-selection {
	padding: 70px 0;
	background-color: #eafaff;
	position: relative;
	padding-top: 36px;
}
.custom-column {
	width: 100%;
	display: inline-table;
	max-width: 100%;
}
.time-box {
	height: 130px;
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	padding: 0 15px;
}
.time-blue-bg {
	background: #ffab00;
}
.time-red-bg {
	background: #ff7f00;
}
.time-brown-bg {
	background: #ff3801;
}
.time-Purple-bg {
	background: #d3014c;
}
.time-green-bg {
	background: #3ab19c;
}
.time-yellow-bg {
	background: #ff9900;
}
.custom-column h4 {
	font-size: 18px;
	color: #fff;
}
.time-custom-col {
	padding: 5px !important;
}
.month-selection .selection-coloumn .time-custom-col .custom-column {
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.month-selection .selection-coloumn .time-custom-col .custom-column:hover {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
/*******vidos-*page******/
.wrapp-vidos iframe {
	width: 100%;
	height: 151px;
}
.wrapp-vidos-info h3 {
	font-size: 25px;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-weight: 500;
}
.wrapp-vidos-info p {
	font-size: 15px;
	line-height: 25px;
	color: #838383;
}
.videos-wras-row .col-md-3 {
	margin-bottom: 28px;
}
/*******learninglearningplan***page******/
.stz-wrapp-boxsmonth .stz-wrapp-icon img {
	max-width: 33%;
}
.stz-wrapp-boxsmonth {
	text-align: center;
}
.stz-wrapp-boxsmonth {
	height: 200px;
	line-height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 22px;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.stz-wrapp-boxsmonth:hover {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
.stz-wrapp-boxsmonth h4 {
	color: #fff;
}
/*******tab-*page******/

.stz-tabpa-wrapper {
	position: relative;
	margin-bottom: 29px;
}
.stz-tabpa-wrapper h4 {
	position: absolute;
	/* top: 0px; */
	width: 100%;
	/* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
	display: flex;
	/* height: 100%; */
	padding: 0px;
	margin: 0px;
	left: 0px;
	margin: 0px;
	bottom: 0;
}
.stz-tabpa-wrapper h4 a {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 19px;
	padding: 7px 12px;
}
.col-bg1 a {
	background-color: rgba(255, 171, 0, 0.9);
}
.col-bg2 a {
	background-color: rgba(255, 127, 0, 0.9);
}
.col-bg3 a {
	background-color: rgba(255, 56, 1, 0.9);
}
.col-bg4 a {
	background-color: rgba(58, 177, 156, 0.9);
}
.col-bg6 a {
	background-color: rgba(57, 85, 190, 0.9);
}
.col-bg8 a {
	background-color: rgba(61, 1, 164, 0.9);
}
.col-bg7 a {
	background-color: rgba(60, 150, 213, 0.9);
}
.stz-tabpa-wrapper .stz-wrapp-img {
	overflow: hidden;
}
.stz-wrapp-img img {
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	overflow: hidden;
}
.stz-tabpa-wrapper:hover .stz-wrapp-img img {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
